/* INICIO FLEX BOX */
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 6%;
}

.item {
  background-color: #4a4aeb;
  color: #fff;

  /* padding: 10px; */
  margin-bottom: 6%;
  border-radius: 50px;
}

.item1 {
  flex: 50%;
}

.item2 {
  flex: 50%;
}

@media (max-width: 800px) {
  .item1, .item2 {
    flex: 100%;
  }
}

/* FIM FLEX BOX */

.default {
  justify-content: center;
  background-image: url("img/fundoTela.jpg"); /*imagem retirada do site: https://br.freepik.com/vetores/estrela'>Estrela vetor criado por vectorpouch - br.freepik.com */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

#redesSociais {
  position: absolute;
  right: 40px;
}

h1 {
  text-align: center;  
  padding-top: 50px;
}

h5 {
  margin-left: 5%;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 500px
}

 *::-webkit-scrollbar {
    width: 6px; 
}
  
  *::-webkit-scrollbar-track {
  background: white;
  border-radius: 30px;
}
  
  *::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 30px;
}

  * {
  scrollbar-width: thin;
  scrollbar-color: gray white;
}