<div class="card text-white bg-dark">
  <div class="card-header">Resumo: </div>
  <div class="card-body">
    <p class="card-text"> Muito prazer e seja bem-vindo ao meu portfólio, bom, resumidamente sou um entusiasta da
      tecnologia,
      sempre tento testar novas tecnologias para entender em que pé estamos, já que
      diariamente
      estamos
      desatualizados devido ao forte avanço tecnológico. Meu primeiro contato com a tecnologia
      é bem
      clichê,
      aquela mesma história onde nosso computador quebra, manutenção cara e surge a
      necessidade de
      concertar
      para poder voltar a usar o PC após superar essa dificuldade comecei a fazer manutenção
      para
      pessoas da família, professores e nisso comprei meu primeiro celular da época. Na medida em que eu
      crescia
      o desejo por tecnologia apenas crescia então decidi entrar para o curso de ciências da
      computação,
      a princípio eu queria cyber security, mas aí descobri a área de
      desenvolvimento
      de software então me apaixonei. Outro motivo para eu ter escolhido TI é para lecionar a
      tecnologia,
      ensinar a pessoas que não possuem tantas condições financeiras para pagar um curso ou
      faculdade,
      porém no meio disso a pandemia começou então tive que dar uma pausa nesse projeto de
      vida.</p>
  </div>
</div>

<div class="card text-white bg-dark">
  <div class="card-header">Tecnologias: </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Backend:</strong> Java(spring e seus derivados) & C#, <br>
      <strong>Frontend:</strong> HTML5, CSS3(bootstrap) & Javascript, <br>
      <strong>SGBDS:</strong> PostgresSQL, MySQL, SQLServer e afins, <br>
      <strong>Ainda em aprimoramento:</strong> Angular, NoSQL, ASP.NET MVC;
    </p>
  </div>
</div>

<div class="card text-white bg-dark">
  <div class="card-header">Tecnologias: </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Backend:</strong> Java(spring e seus derivados) & C#,<br>
      <strong>Frontend:</strong> HTML5, CSS3(bootstrap) & Javascript,<br>
      <strong>SGBDS:</strong> PostgresSQL, MySQL, SQLServer e afins,<br>
      <strong>Ainda em aprimoramento:</strong> Angular, NoSQL, ASP.NET MVC;
    </p>
  </div>
</div>
